// Colors

@each $color, $value in $colors {
  .color-#{$color} {
    fill: $value;
    color: $value;
  }
  .background-#{$color} {
    background-color: $value;
  }

  // Boxed-text
  .bt-bg-#{$color} {
    span::after {
      background-color: $value;
    }
  }
}