// Mixins

// Ye olde clearfix
@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

// Smooth text
@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Responsive mixins by Andy Richardson (@andimal): https://github.com/andimal/sass-responsive-mixin-madness
@mixin media-xs() {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}
@mixin media-sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

// On-the fly media-queries
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res - 1px) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// Outline
@mixin outline($color:white) {
  box-shadow: 1px 1px 0 color($color), -1px -1px 0px color($color), -1px 1px 0 color($color), 1px -1px 0 color($color);
}
@mixin outlined-box($color:white) {
  position: relative;
  &::after {
    top: 0;
    left: 0;
    right: -1px;
    content: '';
    bottom: -1px;
    position: absolute;
    pointer-events: none;
    border: 1px solid color($color);
  }
}

// Boxed Text
@mixin boxed-text($size, $color:white) {
  z-index: 1;
  @include clearfix;
  position: relative;

  @if $size == 1 {
    line-height: 1.6;
    span {
      height: #{($beat * $size) - 1px};
    }
  } @else if $size == 2 {
    @include h3;
    line-height: 1.55;
    span {
      height: 42px;
    }
  } @else if $size == 3 {
    @include h2;
    line-height: 1.1;
    span {
      height: #{($beat * 2) - 1px};
    }
  }

  span {
    clear: left;
    float: left;
    width: auto;
    position: relative;
    padding-right: 4px;
    margin: 1px 0 0 1px;
    display: inline-block;
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: '';
      position: absolute;
      pointer-events: none;
      @include outline($color);
    }

    @include media-md {
      padding-right: $beat;
      height: #{($beat * $size) - 1px};

      @if $size == 2 {
        @include h2;
        line-height: 1.1;
      } @else if $size == 3 {
        @include h1;
        line-height: .98;
      }
    }
  }
}