// Typography

// @font-face
// Media Sans Regular
@font-face {
  font-family: 'Media Sans Condensed';
  src: url('../../fonts/mediasanscondensedweb-black-TRIAL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Media Sans Black
@font-face {
  font-family: 'Media Sans Semicondensed';
  src: url('../../fonts/mediasanssemicondensedweb-black-TRIAL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Font-family mixins
/// example:
/// @mixin font-display {
///   font-style: normal;
///   font-weight: normal;
///   font-family: 'Custom Font Family';
/// }
@mixin font-display-condensed {
  font-style: normal;
  font-weight: normal;
  font-family: 'Media Sans Condensed', sans-serif;
}

@mixin font-display-semicondensed {
  font-style: normal;
  font-weight: normal;
  font-family: 'Media Sans Semicondensed', sans-serif;
}

@mixin font-copy {
  font-style: normal;
  font-weight: normal;
  font-family: 'Crimson Text', serif;
}

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
/// @param {number} $size - Font size specified in pixels (without 'px')
/// @param {number} $lh - Line height specified in pixels (without 'px')
/// @param {number} $ls [0em] - Letter spacing
/// @param {number or string} $w [normal] - Font weight
/// @param {string} $tt [none] - Text transform
/// @example scss - Used as a shortcut in defining a paragraph style...
///   @mixin h1 {
///     @include font-display; // The font face
///     @include paragraph-style (12, 16, $ls: .075em, $tt: uppercase); // Other properties
///   }
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
/// example:
/// @mixin h1 {
///   @include font-display;
///   @include paragraph-style(31, 40, -.010322581em);
///   @include media-md {
///     @include paragraph-style(96, 96, -.005208333em);
///   }
/// }
/// .h1 {
///   @include h1;
/// }
@mixin h1 {
  @include font-display-semicondensed;
  @include paragraph-style(76, 72, .01em, normal, uppercase);
}
.h1 {
  @include h1;
}

@mixin h2 {
  @include font-display-semicondensed;
  @include paragraph-style(48, 48, 0, normal, uppercase);
}
.h2 {
  @include h2;
}

@mixin h3 {
  @include font-display-semicondensed;
  @include paragraph-style(35, 40, .02em, normal, uppercase);
}
.h3 {
  @include h3;
}

@mixin h4 {
  @include font-copy;
  @include paragraph-style(22, 32, .05em, 700);
}
.h4 {
  @include h4;
}

@mixin h5 {
  @include font-copy;
  font-style: italic;
  @include paragraph-style(18, 24, .01em, normal);
}
.h5 {
  @include h5;
}

@mixin p {
  @include font-copy;
  @include paragraph-style(22, 30, 0, normal);
}
.p {
  @include p;
}

@mixin p2 {
  @include font-copy;
  @include paragraph-style(18, 24, .01em, normal);
}
.p2 {
  @include p2;
}