// Variables

// Colors
$colors: (
  white: #ffffff,
  offwhite: #ece9e5,
  black: #393839,
  gray: #919090,
  green: #67c18c,
  gold: #a98352,
  blue: #2a5caa
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Breakpoints
$breakpoint-sm: 520px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;
$breakpoint-nav: 1100px;
$breakpoint-xl: 1200px;

// Site Wrapper
$sitewrapper: 1280px;

// Padding/spacing
$beat: 24px;
$padding-sm: 74px;
$padding-md: $padding-sm * 2;