//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  color: color(black);
	background: color(offwhite);
}

p {
  @include p;
}

a {
	color: inherit;
}

@mixin inline-link() {
  z-index: 1;
  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid;
    transition: border .2s ease-out;
  }

  &:hover {
    &::after {
      border-bottom-width: 8px;
      border-color: color(gray);
    }
  }
}

.inline-link {
  @include inline-link;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $breakpoint-sm;
  @include media-md {
    padding: 0 $padding-lg;
    max-width: $sitewrapper;
  }
}

// Flashbar at the top of the page
.flashbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 36px;
  display: flex;
  @include smooth;
  position: fixed;
  font-style: italic;
  text-align: center;
  align-items: center;
  color: color(offwhite);
  transform: translateY(-100%);
  background-color: color(black);
  transition: transform .25s ease-out, opacity .1s ease-out .26s;

  &.-active {
    transform: translateY(0);
  }

  &.-hidden {
    opacity: 0;
  }

  p {
    margin: 0;
    @include h5;

    .desktop-copy {
      display: none;
    }

    .arrow {
      margin: 0 .25em;
      display: inline-block;
    }
  }

  a {
    @extend .inline-link;
  }

  .close {
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: translateY(-50%);

  }

  @include media-md {
    p {
      .desktop-copy {
        display: inline;
      }
    }
    .close {
      right: $padding-lg;
    }
  }
}

// Background-grid
.background-grid-container {
  position: relative;
}

.background-grid {
  left: 50%;
  bottom: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;
  max-width: $breakpoint-sm;
  transform: translateX(-50%);

  @include media-md {
    height: 100%;
    max-width: $sitewrapper;
  }

  .-inner {
    top: 0;
    bottom: 0;
    left: $padding-sm;
    right: $padding-sm;
    position: absolute;

    > div {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      justify-content: space-between;

      > div {
        position: absolute;
        background-color: color(white);
      }
    }

    .grid-column {
      top: 0;
      width: 1px;
      height: 100%;
    }

    .grid-row {
      left: 0;
      width: 100%;
      height: 1px;
    }

    @include media-md {
      left: $padding-lg;
      right: $padding-lg;
    }
  }

  &.-dark {
    .-inner {
      > div > div {
        background-color: color(black);
      }
    }
  }
}

.logo {
  @include p2;
  margin: 0 0 $beat;
  display: inline-block;
  a {
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
  }
  .logo-mark {
    flex-shrink: 0;
    width: $beat * 3;
    height: $beat * 3;
    border-radius: 50%;
    text-align: center;
    flex-basis: $beat * 3;
    display: inline-block;

    svg {
      top: 6px;
      width: 48px;
      height: 59px;
      position: relative;
      display: inline-block;
    }
  }
  .logo-text {
    margin-left: 22px;
    line-height: 20px;
    position: relative;
  }
}

// Shapes
.shapes {
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  pointer-events: none;

  .-inner {
    height: 100%;
    position: relative;
  }

  svg {
    position: absolute;

    .middle,
    .top {
      stroke: color(black);
    }
  }

  @include media-md {
    left: 50%;
    display: block;
    transform: translateX(-50%);
  }
}
// Scroll-magic loaded
body.sm-loaded {
  .shapes {
    opacity: 1;
  }
}