//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: color(black);
	background: color(offwhite);
}

p {
  @include p;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}

// Flashbar at the top of the page
.flashbar {
  padding: 10px;
  @include smooth;
  font-style: italic;
  text-align: center;
  color: color(offwhite);
  background-color: color(black);

  p {
    margin: 0;
    @include h5;
  }
}

// Background-grid
.background-grid-container {
  position: relative;
}

.background-grid {
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  max-width: $sitewrapper;
  transform: translateX(-50%);

  .-inner {
    top: 0;
    bottom: 0;
    left: $padding-sm;
    right: $padding-sm;
    position: absolute;

    > div {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      justify-content: space-between;

      > div {
        position: absolute;
        background-color: color(white);
      }
    }

    .grid-column {
      top: 0;
      width: 1px;
      height: 100%;
    }

    .grid-row {
      left: 0;
      width: 100%;
      height: 1px;
    }

    @include media-md {
      left: $padding-md;
      right: $padding-md;
    }
  }

  &.-dark {
    .-inner {
      > div > div {
        background-color: color(black);
      }
    }
  }
}

.logo {
  @include p;
  @include clearfix;
  a {
    display: inline-block;
    text-decoration: none;
  }
  .logo-mark {
    float: left;
    width: $beat * 3;
    height: $beat * 3;
    border-radius: 50%;
    text-align: center;
    display: inline-block;

    svg {
      top: 6px;
      width: 48px;
      height: 59px;
      position: relative;
      display: inline-block;
    }
  }
  .logo-text {
    float: left;
    margin-left: $beat;
    vertical-align: top;
    display: inline-block;
    line-height: $beat * 3;
  }
}

// Sections
.section {
  position: relative;
  padding: #{$beat * 3} 0;

  @include media-md {
    padding: #{$beat * 6} 0;
  }

  // Intro Section
  &.section-intro {
    .logo {
      .logo-mark {
        border: 1px solid color(white);
        svg {
          fill: color(black);
        }
      }
    }

    h2 {
      margin: 0;
      @include boxed-text(3);
    }

    .start {
      z-index: 1;
      padding: 0;
      cursor: pointer;
      appearance: none;
      width: $beat * 5;
      left: $padding-md;
      position: absolute;
      height: $beat * 2.5;
      background: color(green);
      bottom: #{(-$beat * 9) - 1px};
      border: 1px solid color(black);
      border-bottom: transparent;
      border-radius: #{$beat * 2.5} #{$beat * 2.5} 0 0;

      span {
        @include p;
        right: -$beat;
        position: absolute;
        @include boxed-text(1);
        transform: translateX(100%);
      }
    }

    @include media-md {
      padding: #{$beat * 2} 0 0;

      .logo {
        margin-left: -$beat * 4;
      }

      .background-grid-container {
        padding: #{$beat * 5} 0 #{$beat * 9};
      }
    }
  }

  // 5 Pillars Section
  &.section-5-pillars {
    border-top: 1px solid color(black);
    border-bottom: 1px solid color(black);

    @include media-md {
      padding: #{$beat * 13} 0;
    }
  }

  // Next Steps
  &.section-next-step {
    .section-title {
      @include h2;
      color: color(blue);
      @include boxed-text(2);
    }

    .next-steps {
      margin-bottom: $beat * 3;

      > .sitewrapper > .grid:first-of-type {
        margin-bottom: $beat;
      }

      .next-step {
        @include outlined-box(white);
        background-color: color(offwhite);
      }

      h3 {
        margin: 0;
        @include h3;
        color: color(blue);
      }

      p {
        margin: 0;
      }

      .cta {
        display: flex;

        a {
          margin: auto;
        }
      }
    }

    .events {
      .section-title {
        @include h3;
        margin: 0 0 $beat;
        @include boxed-text(2);
      }

      .event {
        display: flex;
        padding: $beat;
        @include outlined-box;
        justify-content: space-between;
        background-color: color(offwhite);

        .event-date {
          margin: 0;
          @include p;
          font-style: italic;
        }

        .event-title {
          margin: 0;
          @include p;
          font-weight: 700;
          color: color(blue);
        }

        .event-venue {
          h4,
          .address {
            margin: 0;
            @include h5;
          }
        }

        .event-link {
          margin: 0;
        }
      }
    }

    @include media-md {
      .next-steps {
        margin-bottom: $beat * 6;
      }
    }
  }
}

// Pillars
.pillar {
  @include media-md {
    padding: #{$beat * 4} 0;
  }

  header {
    .pillar-label {
      margin: 0;
      @include h5;
      @include boxed-text(1);
    }

    .pillar-title {
      @include h2;
      margin: 0 0 $beat;
      @include boxed-text(2);
    }

    .pillar-tagline {
      margin: 0;
      @include p;
      font-style: italic;
      @include boxed-text(1);
    }
  }

  .pillar-content {
    padding: $beat;
    @include outlined-box;

    h3 {
      margin: 0;
      @include h4;
    }

    p {
      @include p;
      margin: 0 0 $beat * 2;
    }

    @include media-md {
      margin-top: $beat * 7;
    }
  }

  // Individual Pillars
  &.pillar-1 {
    @include media-md {
      .background-grid {
        top: $beat * 12;
      }
    }
  }
  &.pillar-2 {
    @include smooth;

    header {
      .pillar-label,
      .pillar-tagline {
        @include boxed-text(1, black);
      }
      .pillar-title {
        @include boxed-text(2, black);
      }
    }
    .pillar-content {
      @include outlined-box(black);
    }

    @include media-md {
      padding-top: $beat * 6;
      .background-grid {
        top: $beat * 14;
      }
    }
  }
  &.pillar-3 {
    @include media-md {
      padding-top: $beat * 5;

      .background-grid {
        top: $beat * 13;
      }
    }
  }
  &.pillar-4 {
    @include smooth;

    header {
      .pillar-label,
      .pillar-tagline {
        @include boxed-text(1, black);
      }
      .pillar-title {
        @include boxed-text(2, black);
      }
    }
    .pillar-content {
      @include outlined-box(black);
    }

    @include media-md {
      padding-top: $beat * 8;

      .background-grid {
        top: $beat * 14;
      }
    }
  }
  &.pillar-5 {
    @include media-md {
      padding-top: $beat * 7;

      .background-grid {
        top: $beat * 13;
      }
    }
  }
}