// Footer

.site-footer {
  overflow: hidden;
  position: relative;
  padding: $padding-md 0;
  color: color(offwhite);
  background-color: color(black);

  @include media-md {
    padding: $padding-lg 0;
  }

  .logo {
    margin: 0 0 $beat * 3;
    .logo-mark {
      border: 1px solid color(offwhite);
      svg {
        fill: color(offwhite);
      }
    }
  }

  h4 {
    @include h6;
    margin: 0 0 $beat;
    color: color(gray);
  }

  .gfoa-info {
    margin-bottom: $beat * 3;
  }

  .address,
  .phone,
  .about-container p {
    margin: 0;
    @include p;
  }

  .address-container {
    margin-bottom: $beat * 3;
    @include media-md {
      margin-bottom: 0;
      width: columns(18);
      max-width: columns(18);
    }
  }

  .about-container {
    @include media-md {
      width: columns(23);
      max-width: columns(23);
    }
  }

  .social {
    @include media-md {
      @include clearfix;
    }
  }

  .social-links {
    @extend .semantic-list;

    @include media-md {
      @include clearfix;
    }

    li {
      float: left;

      + li {
        margin-left: 30px;
      }
    }

    a {
      width: 31px;
      height: 31px;
      display: flex;
      border-radius: 50%;
      border: 1px solid color(white);
      transition: border-color .2s ease-out;

      svg {
        margin: auto;
        fill: color(white);
        display: inline-block;
        transition: fill .2s ease-out;
        &.icon-facebook {
          width: 6px;
          height: 13px;
        }
        &.icon-twitter {
          width: 13px;
          height: 10px;
        }
        &.icon-linkedin {
          width: 11px;
          height: 11px;
        }
      }

      &:hover,
      &:focus {
        border-color: color(gray);
        svg {
          fill: color(gray);
        }
      }
    }
  }

  .gfoa-link {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    transform: translateY($beat);

    a {
      @include h5;
      display: flex;
      font-style: italic;
      border-radius: 8px;
      color: color(black);
      text-decoration: none;
      justify-content: space-between;
      border: 1px solid color(black);
      background-color: color(offwhite);
      padding: #{$beat / 2} $beat $beat * 2;

      svg {
        top: 2px;
        width: 54px;
        height: 18px;
        fill: color(black);
        position: relative;
      }
    }

    @include media-md {
      a {
        max-width: 408px;
      }
    }
  }
}