// Pillars

.pillar {
  overflow: hidden;

  &.-light {
    @include media-md {
      header {
        margin-left: $beat * 6;
      }

      .pillar-content {
        float: right;
        width: columns(18);
        padding-left: $beat;

        &::before {
          border-color: color(white);
        }
      }
    }
  }
  &.-dark {
    @include media-md {
      header {
        width: columns(17);
        margin-left: columns(24);
      }

      .pillar-content {
        float: none;
        padding-right: $beat;

        &::before {
          left: auto;
          right: 100%;
          border-color: color(black);
          transform: translateX(1px);
        }
      }
    }
  }

  header {
    .pillar-label {
      margin: 0;
      @include h5;
      @include boxed-text(1);
    }

    .pillar-title {
      @include h2;
      margin: 0 0 $beat;
      @include boxed-text(2);
    }

    .pillar-tagline {
      margin: 0;
      @include p;
      font-style: italic;
      @include boxed-text(1);
      span {
        line-height: 1.1;
      }
    }
  }

  .pillar-content {
    padding-left: 1px;
    position: relative;
    padding-top: $beat;
    padding-bottom: $beat;
    @include outlined-box;

    h3 {
      margin: 0;
      @include h4;
    }

    p {
      @include p;
      margin: 0 0 $beat * 2;

      a {
        @extend .inline-link;
      }
    }

    @include media-md {
      padding-right: 0;
      margin-top: $beat * 7;

      &::before {
        top: 0;
        left: 100%;
        z-index: 1;
        content: '';
        bottom: -1px;
        width: 6000px;
        position: absolute;
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-color: inherit;
      }
    }
  }

  @include media-md {
    padding: #{$beat * 4} 0;

    .pillar-content {
      width: columns(18);
    }
  }

  // Individual Pillars
  &.pillar-1 {
    @include media-md {
      padding-bottom: $beat * 2;
      .background-grid {
        top: $beat * 12;
      }
    }
  }

  &.pillar-2 {
    @include smooth;

    header {
      .pillar-label,
      .pillar-tagline {
        @include boxed-text(1, black);
      }
      .pillar-title {
        @include boxed-text(2, black);
      }
      .pillar-tagline span {
        line-height: 1.1;
      }
    }
    .pillar-content {
      @include outlined-box(black);
    }

    @include media-md {
      padding-top: $beat * 6;
      .background-grid {
        top: $beat * 14;
      }
    }
  }

  &.pillar-3 {
    @include media-md {
      padding-top: $beat * 5;

      .background-grid {
        top: $beat * 13;
      }
    }
  }

  &.pillar-4 {
    @include smooth;

    header {
      .pillar-label,
      .pillar-tagline {
        @include boxed-text(1, black);
      }
      .pillar-title {
        @include boxed-text(2, black);
      }
      .pillar-tagline span {
        line-height: 1.1;
      }
    }
    .pillar-content {
      @include outlined-box(black);
    }

    @include media-md {
      padding-top: $beat * 8;

      .background-grid {
        top: $beat * 14;
      }
    }
  }

  &.pillar-5 {
    @include media-md {
      padding-top: $beat * 7;

      .background-grid {
        top: $beat * 13;
      }
    }
  }
}

// Expandable Pillars
.expandable-pillar {
  z-index: 2;
  position: relative;
  color: color(white);

  .pillar-close-container {
    top: 0;
    left: 50%;
    z-index: -1;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);

    .-inner {
      display: none;
      height: $beat * 4;
      left: columns(23);
      width: columns(19);
      position: relative;
      color: color(offwhite);
      background-color: color(black);
      padding: $beat $beat #{$beat * 2} $beat;
      &.-left {
        left: -$beat;
        width: columns(19);
      }
    }

  }

  &-content {
    padding: #{$beat * 3} 0;
    background-color: color(black);

    > .sitewrapper {
      opacity: 0;
    }

    @include media-md {
      padding: #{$beat * 6} 0;
    }
  }

  h2 {
    margin: 0;
    @include h3;
  }

  &-text {
    padding-bottom: $beat;
  }

  &-images {
    .image {
      height: 0;
      width: 100%;
      background-size: cover;
      outline: 1px solid color(white);
    }
  }

  @include media-md {
    .expandable-pillar-text {
      width: columns(24);
      padding-right: $beat;
      flex-basis: columns(24);
      border-right: 1px solid color(white);
    }

    .expandable-pillar-images {
      width: columns(17);
      flex-basis: columns(17);
    }
  }
}

// Specific Expandable Pillars
#city-of-portland {
  .expandable-pillar-images {
    .image {

      &.-one {
        padding-bottom: 100%;
        background-image: url('../images/portland-1_zack-spear-25262-unsplash.jpg');
      }
      &.-two {
        width: 264px;
        height: 233px;
        background-image: url('../images/portland-2_elena-kuchko-1135472-unsplash.jpg');
      }
    }
  }
}