// Pillar Nav

.pillar-nav {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 20;
  width: 100%;
  height: 53px;
  display: flex;
  position: absolute;
  pointer-events: none;
  padding: 0 $padding-sm;
  background: color(offwhite);
  transform: translateY(-100%);
  transition: transform .2s ease-out;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    content: '';
    position: absolute;
    background-color: color(offwhite);
  }

  &.-stuck {
    opacity: 1;
    transform: none;
    position: fixed;
    pointer-events: auto;
  }

  .logo {
    z-index: 1;
    width: 32px;
    height: 40px;
    margin-right: 36px;
    position: relative;

    .logo-mark {
      width: inherit;
      height: inherit;
    }

    svg {
      width: 32px;
      height: 40px;
      display: block;
    }
  }

  .-inner {
    width: 100%;
    display: flex;
    margin-right: 67px;
  }

  ul {
    @extend .semantic-list;

    &.primary {
      z-index: 1;
      margin: auto;
      position: relative;
      display: inline-block;

      h3 {
        @include h6;
        display: none;
        color: color(gray);
      }

      .dots {
        height: 14px;
        @include clearfix;
        position: relative;
        display: inline-block;
      }

      li {
        float: left;

        a {
          z-index: 1;
          width: 14px;
          height: 14px;
          display: block;
          border-radius: 50%;
          position: relative;
          border: 1px solid color(black);
          background-color: color(offwhite);

          &:hover {
            border-color: color(white);
            background-color: color(offwhite);
          }
        }

        + li {
          margin-left: 28px;
        }

        &.-active {
          a {
            background-color: color(black);
            &:hover {
              background-color: color(offwhite);
            }
          }
        }

        .pillar-progress {
          top: 50%;
          left: 14px;
          width: 28px;
          height: 1px;
          position: absolute;
          background-color: color(black);
        }
      }

      @for $i from 2 through 4 {
        li:nth-of-type(#{$i}) {
          .pillar-progress {
            left: ($i * 14px) + (($i - 1) * 28);
          }
        }
      }
    }

    &.secondary {
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      position: absolute;
      transform: translateY(-100%);
      border-top: 1px solid color(white);
      transition: transform .2s ease-out;

      &.-active {
        transform: none;
      }

      li {
        border-bottom: 1px solid color(white);

        &.-active {
          a {
            color: color(offwhite);
            background-color: color(gray);
          }
        }
      }

      a {
        @include p2;
        display: block;
        height: $beat * 2;
        text-decoration: none;
        line-height: $beat * 2;
        padding: 0 $padding-sm;
        background-color: color(offwhite);

        &:hover,
        &:focus {
          color: color(offwhite);
          background-color: color(black);
        }
      }
    }
  }

  @include media-md {
    right: 0;
    bottom: 0;
    left: auto;
    opacity: 1;
    width: 50px;
    height: 100%;
    transform: none;
    padding: 21px 0 0;
    pointer-events: auto;
    border-left: 1px solid color(white);

    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .-inner {
      top: 0;
      margin: 0;
      width: 100vh;
      height: 50px;
      display: flex;
      @include clearfix;
      position: absolute;
      padding-left: 132px;
      transform-origin: top left;
      justify-content: space-between;
      transform: rotate(90deg) translateY(-100%);
    }

    ul {
      white-space: nowrap;

      &.primary {
        margin: 0;
        display: flex;
        align-items: center;

        h3 {
          margin: 0 36px 0 0;
          display: inline-block;
        }

        .pillar-progress {
          right: 0;
          display: block;
        }
      }

      &.secondary {
        top: 0;
        left: auto;
        right: auto;
        transform: none;
        margin-left: 50px;
        position: relative;

        li {
          border: none;
          line-height: 50px;
          display: inline-block;

          + li {
            margin-left: 50px;
          }

          // Active
          &.-active {
            a {
              color: color(gray);
              background-color: transparent;
            }
          }

          a {
            padding: 0;
            height: auto;
            background: none;
            line-height: 24px;
            @include inline-link;
            &:hover,
            &:focus {
              background: none;
              color: color(black);
            }
          }
        }
      }
    }
  }

  .secondary-nav-toggle {
    top: 50%;
    z-index: 1;
    width: 16px;
    height: 12px;
    cursor: pointer;
    right: $padding-sm;
    position: absolute;
    @extend .button-reset;
    transform: translateY(-50%);

    .lines {
      height: 1px;
      display: block;
      position: relative;
      background-color: color(black);

      &::before,
      &::after {
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        background-color: color(black);
      }
      &::before {
        top: -6px;
      }
      &::after {
        bottom: -6px;
      }
    }

    @include media-md {
      display: none;
    }
  }
}