// Sections

// Scroll-magic loaded
body.sm-loaded {
  .section-art .pipe .foreground,
  .section.section-5-pillars .section-art .section-one-art .scroll-line {
    opacity: 1;
  }
}

// Section Art
.section-art {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;

  .pipe {
    top: 0;
    position: absolute;
    &.-large {
      display: none;
    }

    path {
      fill: none;
      stroke-width: 10;
    }
    .foreground {
      opacity: 0;
      stroke: color(black);
    }
    .background {
      stroke: color(white);
    }
  }

  @include media-md {
    .pipe {
      &.-small {
        display: none;
      }
      &.-large {
        display: block;
      }
    }
  }
}

// Section Bumps
.bump-container {
  top: 0;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translateX(-50%);
  .bump {
    left: -6px;
    content: '';
    bottom: 100%;
    width: $beat * 5;
    position: absolute;
    height: $beat * 2.5;
    border-radius: #{$beat * 2.5} #{$beat * 2.5} 0 0;

    @include media-md {
      left:  $beat * 6;
    }
  }
}

.section {
  position: relative;
  padding: #{$beat * 3} 0;

  @include media-md {
    padding: #{$beat * 6} 0;
  }

  // Intro Section
  &.section-intro {
    padding-top: 60px;
    min-height: 540px;
    max-height: 800px;
    padding-bottom: 0;

    .background-grid-container {
      height: 100%;
      padding-top: $beat * 4;
      padding-bottom: $beat * 9;
      .background-grid {
        height: 100%;
      }
    }

    .logo {
      margin-left: -16px;
      .logo-mark {
        border: 1px solid color(white);
        svg {
          fill: color(black);
        }
      }
    }

    h2 {
      margin: 0;
      @include boxed-text(3);
    }

    .shapes {
      #shape-1a {
        top: -16px;
        width: 120px;
        height: 297px;
        right: $beat * 11;
      }
      #shape-1b {
        width: 289px;
        height: 816px;
        top: -$beat * 3;
        right: -$beat * 4;
      }
      #shape-1c {
        width: 169px;
        height: 504px;
        top: $beat * 10;
        right: $beat * 13;
      }
      #shape-1d {
        width: 121px;
        height: 456px;
        top: $beat * 16;
        right: $beat * 8;
      }
      #shape-1e {
        width: 96px;
        height: 264px;
        top: $beat * 17;
        left: -$beat * 4;
        transform: translateX(-100%);
      }
      #shape-1f {
        width: 49px;
        height: 193px;
        top: $beat * 20;
        left: $beat * 15;
      }
      #shape-1g {
        width: 73px;
        height: 136px;
        top: $beat * 22;
        right: -$beat * 2;
      }
      #shape-1h {
        width: 96px;
        height: 264px;
        top: $beat * 34;
        right: -$beat * 3;
        transform: translateX(100%);
      }
    }

    @include media-md {
      min-height: 588px;
      max-height: 792px;
      padding: #{$beat * 3} 0 0;

      .background-grid-container {
        padding: #{$beat * 5} 0 #{$beat * 9};
      }

      .logo {
        margin-left: 0;
      }
    }

    // @media screen and (min-width: $breakpoint-md) and (max-height: 660px) {
    //   padding: #{$beat * 2} 0 0;

    //   .background-grid-container {
    //     padding: #{$beat * 3} 0;
    //   }
    // }
  }

  // Intro Video Section
  &.section-intro-video {
    margin-top: 1px;
    padding-bottom: $beat * 4;
    > .sitewrapper {
      height: $beat * 13;
    }
    @include media-md {
      padding-bottom: $beat * 6;
      > .sitewrapper {
        height: $beat * 15;
      }
    }

    .background-grid {
      height: auto;
      top: $beat * 3;
      bottom: $beat * 4;

      @include media-md {
        top: $beat * 6;
        bottom: $beat * 6;
      }
    }

    h2 {
      @include boxed-text(2);
      margin: 0;
      line-height: 1.2;
      height: $beat * 4;

      span {
        width: 100%;
        margin-top: -8px;
        height: $beat * 4;
        &::after {
          top: 8px;
          right: 1px;
          bottom: -8px;
        }
      }

      @include media-md {
        height: auto;
        line-height: 1.55;

        span {
          @include h3;
          margin-top: -5px;
          height: ($beat * 3) - 1px;
          &::after {
            top: 6px;
            right: 0;
            bottom: -6px;
          }
        }
      }
    }

    .-left {
      position: relative;
      margin-bottom: $beat * 2;

      .video-bent-arrow,
      .video-arrow {
        z-index: 1;
        fill: color(black);
        position: absolute;
      }

      .video-bent-arrow {
        width: 31px;
        height: 75px;
        top: $beat * 1.5;
        right: $beat + 6px;
      }

      .video-arrow {
        display: none;
      }

      @include media-md {
        float: left;
        margin-bottom: 0;
        position: relative;
        padding-top: $beat * 5;
        width: ($beat * 11) - 1px;

        .video-bent-arrow {
          display: none;
        }

        .video-arrow {
          left: 100%;
          height: 7px;
          width: 110px;
          display: block;
          margin-left: -$beat;
          top: ($beat * 6) + 10px;
        }
      }
    }

    .video-container {
      z-index: 1;
      position: relative;
      margin-right: -1px;
      margin-bottom: $beat;
      border: 1px solid color(white);
      background-color: color(offwhite);

      .video {
        height: 0;
        position: relative;
        padding-bottom: 55%;
        iframe {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-width: 100%;
          position: absolute;
        }
      }

      @include media-md {
        float: right;
        margin-bottom: $beat;
        width: ($beat * 25) + 1px;
      }
    }

    .start-button-container {
      left: 0;
      bottom: 0;
      width: 100%;
      position: absolute;

      .start {
        @extend .button-reset;
        left: 0;
        z-index: 1;
        padding: 0;
        bottom:  -1px;
        cursor: pointer;
        width: $beat * 5;
        position: absolute;
        color: color(white);
        height: $beat * 2.5;
        background: color(green);
        border: 1px solid color(black);
        border-bottom: transparent;
        border-radius: #{$beat * 2.5} #{$beat * 2.5} 0 0;

        span {
          left: 50%;
          @include h5;
          @include smooth;
          font-style: normal;
          position: absolute;
          bottom: #{$beat - 5px};
          transform: translateX(-50%);
          @extend .inline-link;
        }

        svg {
          top: 100%;
          left: 50%;
          width: 10px;
          height: 96px;
          position: absolute;
          margin-top: $beat * 2;
          fill: color(offwhite);
          transform: translateX(-50%);
        }
      }

      @include media-md {
        .start {
          left: $beat * 6;
          svg {
            height: 144px;
          }
        }
      }
    }
  }

  // 5 Pillars Section
  &.section-5-pillars {
    padding-bottom: 0;
    padding-top: $beat * 8;
    border-top: 1px solid color(black);
    border-bottom: 1px solid color(black);

    h2 {
      color: color(white);
      @include boxed-text(3);
      margin: 0 0 #{$beat * 2};
    }

    .section-content {
      p {
        margin-bottom: $beat * 2;
      }

      .button {
        padding-right: $beat;
      }
    }

    .section-art {
      position: relative;
      pointer-events: none;

      p {
        margin: 0;
        @include p2;
        right: 36px;
        bottom: 24px;
        position: absolute;
        color: color(white);
        transform: rotate(90deg);
        transform-origin: bottom right;
      }

      .section-one-art {
        width: 216px;
        display: block;
        margin: 0 auto;

        &.-large {
          display: none;
        }

        path {
          fill: none;
        }
        .line-background,
        .scroll-line {
          stroke-width: 10px;
        }
        .scroll-line {
          opacity: 0;
          stroke: color(black);
        }
        .line-background {
          stroke: color(white);
        }
        .radial-one,
        .radial-two {
          stroke-width: 1px;
          stroke: color(white);
        }
        .radial-one {
          animation: flash 3s infinite;
        }
        .radial-two {
          animation: flash 3s infinite .5s;
        }
        .dot-background {
          fill: color(white);
        }
      }
    }

    @include media-md {
      padding: #{$beat * 12} 0 #{$beat * 7};

      .section-content {
        width: columns(23);
        flex-basis: columns(23);
      }

      .section-art {
        top: auto;
        bottom: 0;
        width: 100%;
        position: absolute;

        p {
          right: 244px;
          bottom: 464px;
        }

        .section-one-art {
          right: 23px;
          bottom: -1px;
          float: right;
          width: 217px;
          height: 851px;
          position: relative;
          transform: translateY(2px);

          &.-large {
            display: block;
          }
          &.-small {
            display: none;
          }
        }
      }

    }
  }

  &.section-takeaway {
    padding-top: 88px;
    padding-bottom: 204px;

    h2 {
      @include boxed-text(3);
      margin: 0 0 #{$beat * 4};
    }

    .-content {
      h3 {
        @include h3;
      }

      p {
        margin: 0;
      }
    }

    .section-art {
      top: -60px;
      overflow-x: hidden;

      .pipe {
        .foreground {
          stroke: color(white);
        }

        &.-small {
          top: 0;
          left: 48px;
          width: 352px;
        }
      }

      #takeaway-radials {
        opacity: 0;
        top: 1148px;
        right: 118px;
        width: 312px;
        height: 312px;
        position: absolute;
        transition: opacity .2s ease-out;
        path {
          fill: none;
          stroke-width: 1px;
          stroke: color(white);
          &.radial-one {
            animation: flash 3s infinite;
          }
          &.radial-two {
            animation: flash 3s infinite .5s;
          }
        }
      }
    }

    .shapes {
        left: 50%;
        transform: translateX(-50%);

      .-small {
        width: 264px;
        bottom: -123px;
      }

      .top,
      .middle {
        stroke: color(offwhite);
      }
    }

    @include media-md {
      padding-top: 155px;
      padding-bottom: $beat * 18;

      h2 {
        margin-bottom: 128px;
      }

      .-content {
        h3 {
          @include h2;
        }
      }

      .section-art {
        top: 0;
        overflow-x: visible;

        .pipe.-large {
          top: -60px;
          left: 200px;
          height: auto;
          width: 802px;
        }

        #takeaway-radials.-active {
          opacity: 1;
        }
      }

      .shapes {
        #shape-7a {
          right: 0;
          width: 72px;
          height: 339px;
          top: -$beat * 6;
        }
        #shape-7b {
          width: 240px;
          height: 493px;
          top: $beat * 4;
          right: -$beat * 5;
        }
        #shape-7c {
          width: 145px;
          height: 308px;
          top: $beat * 5;
          right: -$beat * 5;
        }
        #shape-7d {
          left: 0;
          width: 97px;
          height: 332px;
          top: $beat * 35;
          transform: translateX(-100%);
        }
        #shape-7e {
          width: 97px;
          height: 360px;
          top: $beat * 42;
          left: -$beat * 4;
          transform: translateX(-100%);
        }
        #shape-7f {
          width: 169px;
          right: 322px;
          height: 332px;
          top: $beat * 38;
        }
        #shape-7g {
          width: 97px;
          height: 301px;
          left: $beat * 8;
          top: $beat * 76;
        }
        #shape-7h {
          width: 211px;
          height: 469px;
          top: $beat * 73;
          left: $beat * 12;
        }
        #shape-7i {
          left: -$beat;
          width: 145px;
          height: 308px;
          top: $beat * 77;
          transform: translateX(-100%);
        }
      }
    }

    .-top {
      margin-bottom: $beat * 8;

      h3 {
        margin: 0 0 6px;
      }

      @include media-md {
        margin-bottom: 458px;
        .-content {
          width: columns(21.5);
          flex-basis: columns(21.5);
        }
      }
    }

    .-bottom {
      .instructions {
        @include p2;
        margin: 0 0 $beat;

        svg {
          fill: color(white);
        }
        .icon-arrow-down {
          width: 10px;
          height: 48px;
          display: block;
          margin-top: 20px;
          margin-left: 12px;
        }
        .icon-arrow-right {
          height: 10px;
          width: 181px;
          display: none;
        }
      }

      .final-takeaway {
        margin: 0;
        @include boxed-text(2);

        &:last-of-type {
          margin-left: 70px;
        }

        &.highlight {
          // color: color(gold);
        }
      }

      @include media-md {
        @include clearfix;
        position: relative;

        .instructions {
          margin: 0;
          display: flex;
          position: absolute;
          .icon-arrow-down {
            display: none;
          }
          .icon-arrow-right {
            top: 6px;
            display: block;
            position: relative;
            margin-left: $beat * 2;
          }
        }

        .final-takeaway {
          @include boxed-text(3);
          &:first-of-type {
            float: right;
            margin-right: 60px;
          }

          &:last-of-type {
            clear: right;
            margin-left: $beat * 6;
          }
        }
      }
    }
  }

  // Next Steps
  &.section-next-step {
    padding-top: 148px;

    .background-grid {
      height: 100%;
    }

    .section-title {
      @include h1;
      color: color(blue);
      @include boxed-text(3);
      margin: 0 0 #{$beat * 2};
    }

    .section-art {
      .pipe {
        top: -60px;
        width: 10px;
        &.-small {
          left: $beat * 2;
        }
      }
    }

    @include media-md {
      .section-art {
        .pipe.-large {
          left: 200px;
        }
      }

      .shapes {
        #shape-8a {
          width: 193px;
          height: 533px;
          top: $beat * 46;
          right: -$beat * 3;
          transform: translateX(100%);
        }
        #shape-8b {
          width: 121px;
          height: 333px;
          top: $beat * 69;
          left: -$beat * 2;
          transform: translateX(-100%);
        }
        #shape-8c {
          width: 241px;
          height: 666px;
          right: -$beat;
          top: $beat * 78;
          transform: translateX(100%);
        }
      }
    }

    // Book/Next Steps
    .book,
    .next-steps {
      h3 {
        margin: 0;
        z-index: 1;
        @include h3;
        line-height: 30px;
        position: relative;
        color: color(blue);
      }

      p {
        margin: 0;
      }

      .next-step,
      .text {
        padding: 0 $beat $beat 0;
        @include outlined-box(white);
        background-color: color(offwhite);
      }
    }

    // Book
    .book {
      margin-bottom: $beat * 4;

      .background-grid {
        display: none;
      }

      h3 {
        margin-bottom: 8px;
      }

      .-left {
        .image {
          padding-bottom: 72%;
          margin-bottom: $beat;
        }
      }

      .text {
        padding-left: 1px;
        padding-bottom: 18px;
        p {
          margin-bottom: 10px;
          br {
            display: none;
          }
        }
      }

      .cta {
        .button {
          width: 100%;
          &:not(.download) {
            padding-left: 0px;
            padding-right: 0px;
          }
          + .button {
            margin-top: $beat;
          }
        }
      }

      .image {
        @include outlined-box(white);
        background: url('../images/book.jpg') center;
        background-size: cover;

        &.-right {
          display: none;
        }
      }

      @include media-md {
        .background-grid {
          display: block;
        }

        .text {
          margin-bottom: $beat * 2;

          p {
            br {
              display: block;
            }
          }
        }

        .cta {
          display: flex;
          padding: 0 $beat * 2;
          justify-content: space-between;

          .button {
            margin-right: $beat;

            + .button {
              margin-top: 0;
              margin-right: 0;
            }
          }
        }

        .-left {
          width: columns(24);
          flex-basis: columns(24);
          padding-bottom: $beat * 2;
          .image {
            display: none;
          }
        }
        .image.-right {
          display: block;
          width: columns(17);
          flex-basis: columns(17);
        }
      }
    }

    // Next Steps
    .next-steps {
      margin-bottom: $beat * 4;

      @include media-md {
        margin-bottom: $beat * 6;

        > .sitewrapper > .grid:first-of-type {
          margin-bottom: $beat * 3;
        }
      }

      .next-step {

        @include media-md {
          width: columns(23);
          flex-basis: columns(23);

          &.-bottom {
            width: columns(23);
            padding-right: 18px;
            flex-basis: columns(23);
            padding-bottom: $beat * 3;
          }
        }
      }

      .cta {
        display: flex;
        position: relative;
        padding: #{$beat * 2} $beat;

        a {
          margin: auto 0;
        }

        &.-bottom {
          padding-top: 0;
          display: block;

          .icon-bent-arrow {
            left: $beat;
            width: 258px;
            height: 37px;
            display: none;
            top: $beat / 2;
            position: absolute;
            #line {
              fill: none;
              stroke: color(black);
            }
            #arrowhead {
              fill: color(black);
            }
          }
          .icon-arrow-down {
            width: 10px;
            height: 48px;
            display: block;
            fill: color(black);
            margin: #{$beat / 2} auto $beat;
          }

          .button {
            display: block;
          }
        }

        @include media-md {
          width: columns(18);
          flex-basis: columns(18);
          padding: #{$beat * 3} #{$beat * 2};

          a {
            width: $beat * 9;
            padding-left: $beat;
            padding-right: $beat;
          }

          &.-bottom {
            display: flex;
            width: columns(18);
            padding-top: $beat * 3;
            flex-basis: columns(18);
            padding-right: $beat * 2;
            justify-content: flex-end;

            .icon-bent-arrow {
              display: block;
            }
            .icon-arrow-down {
              display: none;
            }
          }
        }
      }
    }

    .events,
    .whitepapers {
      .event,
      .whitepaper {
        padding: $beat;
        @include smooth;
        @include outlined-box;
        background-color: color(offwhite);

        .event-date {
          @include p;
          margin: 0 0 $beat;
          font-style: italic;
        }

        .event-title,
        .whitepaper-title {
          @include h4;
          font-weight: 700;
          color: color(blue);
          margin: 0 0 #{$beat / 4};
        }

        .event-venue {
          margin-bottom: $beat;

          h4,
          .address {
            margin: 0;
            @include p2;
          }
        }

        .event-link,
        .whitepaper-link {
          margin: 0;

          a {
            display: block;
          }
        }

        @include media-md {
          display: flex;
          justify-content: space-between;
          padding: 32px #{$beat * 2} 32px $beat;

          .event-date {
            flex-grow: 1;
            margin-bottom: 0;
            width: colums(2,7);
            flex-basis: colums(2,7);
          }

          .event-details {
            width: columns(3,7);
            flex-basis: columns(3,7);
          }

          .event-venue {
            margin: 0;
          }

          .event-title,
          .whitepaper-title {
            margin-bottom: 8px;
          }

          .event-link {
            margin-left: 32px;
            width: colums(2,7);
            flex-basis: colums(2,7);
          }
        }
      }
    }

    .whitepapers {
      padding-top: $beat * 2;

      @include media-md {
        padding-top: 0;
      }
    }

    .whitepaper {
      .whitepaper-details {
        p {
          margin: 0;
        }

        @include media-md {
          padding-right: $beat * 2;
          margin-right: $beat * 5;
        }
      }
      .whitepaper-link {
        display: flex;

        .button {
          margin: $beat 0 0;
          padding-left: $beat;
          white-space: nowrap;
          padding-right: $beat;
        }

        @include media-md {
          .button {
            margin: auto;
          }
        }
      }
    }
  }
}